
.main{
    position: absolute;
    background-color: #F12;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    width: 100%;
    padding: 2px;
}

.sidebar{
    background-color: #12F;
    flex: 15%;
}

.content{
    display: flex;
    flex-direction: column;
    background-color: #1F2;
    overflow: hidden;
    flex: 85%;
}

.chat{
    background-color: ivory;
    flex: 95%;
    overflow-y: visible;
}

.msg-box{
    padding: 5px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 15%;
    background-color: khaki;
    flex: 5%;
}

.main > .content > .content{
    overflow: visible;
}

#show-sidebar{
    display: none;
}

#hidden-sidebar{
    display: block;
}

@media only screen and (max-width: 1000px){
    .main{
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .content{
        flex-grow: 2;
    }
    .sidebar{
        flex-grow: 1;
    }
}